    /* FONTES */
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

    * {
        margin: 0px;
        padding: 0px;
    }

    body {
        height: 100vh;
        background: url("../imagens/fundo-folhagem.jpg") no-repeat center center;
        background-size: cover;
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        color: white;
        text-align: center;
    }

    img {
        height: 160px;
        width: 145px;
        border-radius: 50%;
        border: solid 3px white;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.400);
        margin-top: 20px;
    }

    h1 {
        font-size: 1.8em;
        text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.400);
    }

    h2 {
        margin-top: 5px;
        font-size: 1.2em; 
        text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.400);
    }

    h3 {
        margin-top: 20px;
        font-size: 1.2em;
        text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.400);
    }

    p {
        margin: 5px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.1em;
        text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.200);
    }