@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url("../imagens/fundo-espaco.jpg") no-repeat top center;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    color: white;
    text-align: center;
}

main {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    color: white;
    text-align: center;
}

#conteiner-telefone {
    display: flex;
}

#item-telefone {
    display: block;
    width: 310px;
    height: 627px;
    background: url("../imagens/frame-iphone.png") no-repeat;
    margin: 10px auto;
}

#tela {
    position: relative;
    top: 80px;
    left: 1px;
    width: 268px;
    height: 472px;
}

#redes-sociais img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 8px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}

#redes-sociais img:hover {
    border: 2px solid white;
    transform: translate(-3px, -3px);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.400);
    transition: transform .3s, border .1s;
}